*{
    padding:0;
    margin:0;
}

.header{
    width: 100%;
}
.container{
    width: 1140px;
    margin: auto;
}

.top-header{
    width: 100%;
    background-color: #254160;;
    padding: 8px 0px;
    color: white;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
}
.third{
    float: right;
    

}

.first{
    float: left;
    width: 33.33%;
    
}
.logo-menu-cart-tog, .menu-cart
{
    display:flex;
}
.logo, .menu-cart
{
    flex-basis: 50%;
}
.menu ul li
{
    display: inline-block;
    margin-left: 40px;
    line-height: 1.9;
    padding-top: 16px;
    padding-bottom: 20px;
    font-size:11px ;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    
}
.menu ul li a{
    color: black;
}
.nav-bar{
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 65px;
}
.cart{
    margin-left: 40px;
    line-height: 1.9;
    padding-top: 16px;
    padding-bottom: 20px;


}
.menu ul li a, .cart a,.logo a {
    text-decoration: none;

}
.menu ul li a:hover{
    transition: 0.5s;
    
    color: #254160;

}

.logo{
    line-height: 1.9;
    padding-top: 16px;
    padding-bottom: 20px;
}
.logo a{
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: #254160;
    
}
.logo a:hover{
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: black;
    transition: 1.0s;
    cursor: pointer;
}

.banner{
    width: 100%;
    background-image: url(images/banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 85px 0px;
    text-align: center;
    
}
.banner h1{
    font-size: 7vw;
    color: #fff;
    line-height: 1.1;
    font-weight: 300;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.banner p{
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
}
.banner-content button{
    background-color: #254160;
    padding: 12px 22px;
    margin: 25px 0px;
    border-radius: 30px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.banner-content button:hover{
    background: transparent;
    transition: 1.0s;
    border: 2px solid navy;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    color: #254160;
}
.right-banner-2 button{
    text-align: center;
    background-color: #254160;
    padding: 12px 22px;
    margin: 25px 0px;
    border-radius: 30px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.right-banner-2 button:hover{
    background: transparent;
    transition: 1.0s;
    border: 2px solid navy;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    color: #254160;
}
.icon-tog{
    display: flex;
    justify-content: space-between;
    padding: 120px 0px;
    text-align: center;
    line-height: 1.9;
    font-family: 'Poppins', Arial, sans-serif;
}
.f-item h1{
    font-size: 15px; 
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
    color: #000000;
}
.f-item p{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 500;
}
.icon-title{
    text-align: center;
    font-size: 32px;
    margin-top: 64px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200px;
    color: #254160;
}

.icon-image-1 img, .icon-image-2 img, .icon-image-3 img, .icon-image-4 img, .icon-image-5 img, .icon-image-6 img{
display: inline-block;

height: 100px;
width: 100px;
text-align: center;
padding: 20px 20px;
border-radius: 100%;
}

.icon-image-1 img{
    background-color:#d9aef2;
}
.icon-image-2 img{
    background-color: #d9aef2;
}
.icon-image-3 img{
    background-color: #d9aef2;
}
.icon-image-4 img{
    background-color: #d9aef2;
}
.icon-image-5 img{
    background-color: #d9aef2;
}
.icon-image-6 img{
    background-color:#d9aef2;
}

.icon-image-1 img:hover, .icon-image-2 img:hover, .icon-image-3 img:hover, .icon-image-4 img:hover , .icon-image-5 img:hover, .icon-image-6 img:hover  {
    background-color:#254160;
    transition: 1.0s;
    cursor: pointer;
}


.sec{
 
   
    
    text-align: center;
    margin: 16px 0px;
    
}
.sec h3{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
    color: #254160;
    margin-bottom: 32px;

}
.sec p{
    font-family: 'Poppins', sans-serif;
    color: black;
    opacity: 0.6;
    line-height: 1.3;
    margin-top: 32px;
    margin-bottom: 32px;
}
.sec a{
    background-color: #254160;
    color: white;
    padding: 6px 14px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 35px;
    border: 2px solid #254160;
    display: inline-block;
    text-decoration: none;
}

.sec a:hover{
    transition: 1.0s;
    cursor: pointer;
    background-color: white;
    color: #254160;
    border: 2px solid #254160;
}

.category{
    width: 100%;
    background-color: white;
    padding: 100px 0px;
}
.fc-gallery{
    display: flex;
}
.fc-item{
    flex-basis: 33.33%;
}
.item-content img{
    max-width: 100%;
    height: 250px;

}
.item-content, .about-1-left{
    margin: 16px;
    height: 250px;
    position: relative;
}
.item-content a, .about-1-left a{
    position:absolute;
    bottom: 0;
    left: 0;
    background: #254160;
    color: white;
    text-decoration: none;
    padding: 6px 18px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
   
}
.testimonial{
    width: 100%;
    background-color: white;
}
.upper-part h6, .upper-part h1, .upper-part p{
    text-align: center;
}
.upper-part h6{
    font-size: 18px;
    
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #254160;
}
.upper-part h1{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
    margin-top: 22px;
}
.upper-part p{
   

    margin-top: 25px;
    margin-bottom: 1rem;
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}
.testimonial-tog{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 85px 0px;}
    
.test-1{
    text-align: center;
    
    
}

.owl-carousel .owl-item img{
    width: 100px;
    border-radius: 100%;
    
}
.user-image{
    position: relative;
    display: inline-block;
    margin-top: 50px;
}
}

 .test-1 p, .test-1 h3, .test-1 h5{
    text-align: center;
}
.test-1 p{
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    margin-top: 40px;
    margin-bottom: 40px;
    border-left: 2px solid rgb(238, 236, 236);
    position: relative;
}
.test-1 p::before{
    content: '';
    height: 30px;
    width: 3px;
    background-color: #254160;
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);

}
.test-1 h3{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    font-family: "Poppins", Arial, sans-serif;
}
.test-1 h5{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", Arial, sans-serif;
    margin: 10px 0px;
}

.product{
    width: 100%;
    background-color: white;

}
.product-gallery{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 32px;

}
.product-gallery-2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 32px;
    margin-top: 32px;

}
.product-item{
    text-align: center;
    position: relative;
    border: 2px solid rgb(240, 240, 240);
    padding: 8px;

}
.product-item img{
    width: 220px;
}
.product-item img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}
.product-item h6{
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.5;
   
}
.price span{
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    color: #254160;
}
.product-meta a i{
    width:40px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #254160;
    border-radius: 100%;

}
.product-meta{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    
}
.product-item:hover .product-meta{
    opacity: 1;
    transition: 1.0s;
}

.offer span{
    position: absolute;
    background: #254160;
    top: 0;
    left: 0;
    padding: 6px 12px;
    color: white;
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;
}
.banner-2{
    width:100%;
    
    background-image: url(../images/bg_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 85px 0px;
    margin: 120px 0px;
        
}

.upper-part-2 h6, .upper-part-2 h1, .upper-part-2 p{
    text-align: left;
}

.upper-part-2 h6{
    font-size: 18px;
   
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #254160;
}
.upper-part-2 h1{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
    margin-top: 22px;
}
.upper-part-2 p{
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 25px;
    margin-bottom: 1rem;
    font-family: "Poppins", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}
.banner-2-tog{
    display: flex;
    margin: 120px 0px;
    text-align: left;
}
.left-banner-2, .right-banner-2{
    flex-basis: 50%;
}
.price-1{
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    
    
}
.price-2 a{
    font-weight: 500;
    font-size: 18px;
    color: #254160;
    text-decoration: none;
    
    
}
.banner-2-price{
    margin-top: 25px;
}
.upper-part-2 h2 a{
    text-decoration: none;
    color: #254160;
    font-size: 30px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    line-height: 1.5;
    font-weight: 400;

}
.user-image i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    color: #254160;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    
    
}


.social-media-tog{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 20px;
    margin-top: 32px;
    border-top: 2px solid rgb(201, 201, 201);
    padding: 120px 0px;

}
.social-1 img{
    width: 180px;
    height: auto;

}
.subscribe{
    width: 100%;
    padding: 90px 0px;
    background-color: #f7f6f2;
    margin: 90px 0px;
    position: relative;
}
.subscribe-tog{
    display: flex;
    justify-content: space-between;
}
.sub-left h1{
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 22px;
}
.sub-left p{
    font-family: "Poppins", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}

.sub-right form input{
    width: 357.31px;
    height: 52px;
    background: #fff ;
    border: 1px solid transparent;
    color: black ;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
   
}
.sub-right form button{
    height: 52px;
    width: 100px;
    border: none;
    background-color: #254160;
    color: white;
}
.sub-arrow{
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 100%;
    background-color: #254160;
    text-align: center;
    color: white;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.sub-arrow a i{
    color: white;
    font-size: 25px;
}
.sum-tog{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    
}
.sum-item{
    text-align: left;
}
.sum-item h1{
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5px;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
    padding-bottom: 35px;
    
}
.sum-item p{
    font-size: 14px;
    
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 50px;
}
.sum-item ul li{
    list-style: none;
}

.sum-item ul li a{
    
    text-decoration: none;
    font-size: 14px;
    
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 2.9;
    font-weight: 400;

}
.sum-item ul li a:hover{
    margin-left: 10px;
    transition: 1.0s;
    color: #254160;
}
.sum-vegefoods-icons a i{
    background-color: #f5f5f5;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 100%;
    margin-right:10px ;
    font-size: 25px;

}
.sum-vegefoods-icons a i:hover{
    background-color: #254160;
    color: white;
    transition: 1.0s;

}
.sum-vegefoods-icons a{
    text-align: center;
}

.sum-map span, .sum-phone span, .sum-mail span{
    font-size: 14px;
    
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    
  
}
.sum-map , .sum-phone , .sum-mail{
    margin-bottom: 10px;
}
.footer-div{
    text-align: center;
  
    font-size: 14px;
    padding: 7em 0;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;

}
.footer-div a{
    text-decoration: none;
}

.footer-div a:hover{
    color: #254160;
    transition: 1.0s;
}
   
/* Style The Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 12px;
    font-size: 11px;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
  }
  .dropbtn:hover{
      background-color: #254160;
      transition: 1.0s;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: white;
  }
  /* about page style starts*/
  .about-title h1{ 
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #254160;
      font-weight: 300;
      margin: 32px;
      text-align: center;

  }
  .about-why-title h1{
    font-size: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #254160;
    font-weight: 300;
    margin: 32px;
    text-align: center;
  }
  .about-1-left img{
    max-width: 100%;
    height: 250px;
  }
  .about-1-tog{
      display: flex;
    
      
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
 
   /* about page style ends*/
   .highlights-tog
   {
       display: flex;
       color: white;
       
       
       
   }
   .high-1
   {
   background-color: #f9799a;
   
   padding-left: 50px;
   padding-right: 50px;
   padding-top:25px ;
   padding-bottom: 20px ;
   margin-left: 25px;
   margin-right: 25px;
   border-radius: 10px;
   margin-bottom: 100px;
   margin-top: 42px;
   }
   .high-1:hover
   {
       cursor: pointer;
       box-shadow: 10px 10px 5px rgb(230, 225, 225);
   
   }
   .high-2
   {
   background-color: #61c4d8;
   
   padding-left: 50px;
   padding-right: 50px;
   padding-top:25px ;
   padding-bottom: 20px ;
   margin-left: 25px;
   margin-right: 25px;
   border-radius: 10px;
   margin-bottom: 100px;
   margin-top: 42px;
   
   }
   .high-2:hover
   {
       cursor: pointer;
       box-shadow: 10px 10px 5px rgb(230, 225, 225);
   
   }
   
   .high-3
   {
   background-color:#1e266d; 
   
   padding-left: 50px;
   padding-right: 50px;
   padding-top:25px ;
   padding-bottom: 20px ;
   margin-left: 25px;
   margin-right: 25px;
   border-radius: 10px;
   margin-bottom: 100px;
   margin-top: 42px;
   }
   .high-3:hover
   {
       cursor: pointer;
       box-shadow: 10px 10px 5px rgb(230, 225, 225);
   
   }
   .high-1 p, .high-2 p, .high-3 p{
       line-height: 1.9;
       font-size: 16px;
   }
   
   .high-1 h3, .high-2 h3, .high-3 h3{
       font-size: 18px;
       font-weight: bold;
       margin-bottom: 17px;
   }